@import "tailwindcss";

:root {
  --purple-main: #a21caf;
  --purple-dark: #6b21a8;
  --grid: #d9dce3;
  --black: #000000;
  --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
}

.bg-grid {
  background-color: #ffffff;
  background-image:
    linear-gradient(var(--grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid) 1px, transparent 1px);
  background-size: 10px 10px;
}

.hand-drawn {
  box-shadow: 4px 4px 0px #000;
}

.pixel-btn {
  transition: all 0.15s ease;
  letter-spacing: 0.5px;
}

.pixel-btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #000;
}

.pixel-btn:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px #000;
}

img, svg {
  user-select: none;
  -webkit-user-drag: none;
}